<html lang="es">
  <%-include('../partials/head.ejs')%>
  <body class="bg-dark">
    <header>
      <h1 class="text-warning text-center">ProductApp</h1>
    </header>
    <main class="col-12">
      <%-include('./formulario.ejs')%>
      <%-include('./lista.ejs')%>
    </main>
  </body>
</html>